<script setup lang="ts">
import { parse, stringify } from "flatted";
import { computed, getCurrentInstance, onMounted } from "vue";

onMounted(() => {
  const instance = getCurrentInstance();

  console.log(instance);

  // Ignore Vue warnings in the console:
  console.log(stringify(instance, undefined, 2));
  console.log(parse(stringify(instance)));

  console.log(instance?.vnode);
  console.log(instance?.vnode.props);
});

const uid = computed<number | undefined>(() => {
  return getCurrentInstance()?.uid;
});
</script>

<template>
  <div class="square">
    {{ uid }}
  </div>
</template>

<style scoped>
.square {
  width: 200px;
  height: 200px;
  background-color: burlywood;
  display: grid;
  place-content: center;
}
</style>
